.App{
    text-align: center;
}
.App-component{
    margin: 150px auto 0 auto;
    width: 600px;
}
.AutoCompletedText{
    width: 100%;
    border: 1px solid;
    box-shadow: gray;
}
.AutoCompletedText input{
    width: 100%;
    border: none;
    padding: 10px 5px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    outline: none;
    
}
.AutoCompletedText ul{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border-top: 1px solid;
}
.AutoCompletedText::before{
    content: "";
}
.AutoCompletedText li{
    padding: 10px 5px;
    cursor: pointer;
}
.AutoCompletedText li:hover{
    text-decoration: underline;
    background-color: gray;
}