.App{
    text-align: center;
}
.App-component{
    margin: 150px auto 0 auto;
    width: 600px;
}
.AutoCompletedText{
    width: 100%;
    padding-top: 50px;
    border: 1px solid;
}
.country-list{
    cursor: pointer;
    text-align: center;
}