.App{
    text-align: center;
}
.App-component{
    margin: 150px auto 0 auto;
    width: 600px;
}
.AutoCompletedText{
    width: 100%;
    border: 1px solid;
    box-shadow: gray;
}
.AutoCompletedText input{
    width: 100%;
    border: none;
}
.AutoCompletedText ul{
    list-style-type: none;
    cursor: pointer;
    text-align: left;
    width: 100%;
}